pandas
numpy
scipy
matplotlib
seaborn
click
requests
markdown2
tabulate
openpyxl


'''  python -m venv venv
venv\Scripts\activate.bat '''

'''python -m cli "C:\Users\GP018424\Downloads\Medical Cost Personal Datasets\insurance.csv" --output-dir Output/'''